/* overflow:hidden、heightは必ず指定する */
.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*ズームイン*/
.zoomIn img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.zoomIn:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.jumbotron {
  background: image-url("banner.jpg") center no-repeat;
  background-size: cover;
}

.backWhitesmoke {
  background-color: rgba(228, 214, 214, 0.82);
}
