<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'ユーザーを作成する') %>
<div class="container">
  <div class="py-3 text-left">
    <div class="d-flex flex-row align-items-center mb-2">
      <i class="fas fa-user-plus fa-3x mr-3"></i>
      <h1>Sign up</h1>
    </div>
  </div>
  <div class="col-md-12">
    <p class="lead">ユーザー登録した時のメリットを記載する。</p>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">ユーザー情報入力欄</h4>
      <%= render 'form' %>
    </div>
  </div>
</div>